<section class="main">
  <div class="inner">
    <article class="product">
      <header class="product__header">
        <h1>{{ product.title }}</h1>
        <div class="product__price-bar">
          <h4 class="price">
            {{ product.price | money }}
            {% if product.compare_at_price > product.price %}
            <s id="ComparePrice" class="product-single__sale-price">{{ product.compare_at_price_max | money }}</s>
            {% endif %}
          </h4>
          <span class="spacer">|</span>
          <form method="post" action="/cart/add" enctype="multipart/form-data" class="product__add-button">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <input type="submit" value="Add">
          </form>
        </div>
        <a class="back" href="index.php">&lt; Back to Collection</a>
      </header>
      <figure class="product__photo">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}">
      </figure>
    </article>
    <aside class="product__details">
      <div class="group">
        <h4 class="group__heading">Product Description</h4>
        <p class="product-dimensions">Dimensions: 69"l x 33"d x 31"h</p>
        <p>Liora dies, ut vina poemata reddit scire velim chartis, pretium quotus arroget annus scriptor abhinc annos centum qui decidit, inter perfectos vetersque referri debet an iner vilis atque vina poemata reddit scire velim chartis, pretium quotus arroget annus scriptor abhinc annos centum qui decidit, inter perfectos vetersque referri debetnovos.</p>
      </div>
      <div class="group">
        <h4 class="group__heading">Shipping Details</h4>
        <p>Liora dies, ut vina poemata reddit scire velim chartis, pretium quotus arroget annus scriptor abhinc annos centum qui decidit, inter perfectos vetersque referri debet an iner vilis atque vina poemata reddit scire velim chartis, pretium quotus arroget annus scriptor abhinc annos centum qui decidit, inter perfectos vetersque referri debetnovos.</p>
      </div>
      <ul class="share-links">
        <li class="print"><a href="#">Print</a></li>
        <li class="email"><a href="#">Email</a></li>
        <li class="pinterest"><a href="#">Pinterest</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="facebook"><a href="#">Facebook</a></li>
      </ul>
    </aside>
  </div>
</section>

<section class="gallery">
  <ul class="gallery__images">
    <li><img src="{{ 'gallery-photo-01.jpg' | asset_url }}" alt="photo"></li>
    <li><img src="{{ 'gallery-photo-02.jpg' | asset_url }}" alt="photo"></li>
    <li><img src="{{ 'gallery-photo-03.jpg' | asset_url }}" alt="photo"></li>
    <li><img src="{{ 'gallery-photo-04.jpg' | asset_url }}" alt="photo"></li>
    <li><img src="{{ 'gallery-photo-05.jpg' | asset_url }}" alt="photo"></li>
    <li><img src="{{ 'gallery-photo-06.jpg' | asset_url }}" alt="photo"></li>
  </ul>
</section>